
.photoswipe_gallery figure figcaption {
	display:none;
}

.entry-content {
	padding:0;
}

.hentry footer {
	padding:0;
}

body {
	position:relative;
	color:#272727 !important;
	font-family:'Open sans', 'Helvetica Neue', sans-serif;

}

* {
	 transition: all 0.5s ease;
}

a {
	color:brown;
}

a:visited {
	color:inherit;
}

@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil');

.header {
    background-color: #272727;
    position: absolute;
    height: 75px;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 1;
    opacity:.95;
    font-family: 'Cutive Mono', monospace !important;
}

.carousel-caption {
	bottom:10% !important;
	top:90%;
	left:0;
	right:0;
	text-align:left;	
	font-size:2em;
	width:100%;
	
}


.soliloquy-container .soliloquy-caption-inside {
	text-align:left !important;
	font-size:1.3em !important;
	text-shadow:0 0 0 transparent !important;
        padding: 0 !important;
}

.soliloquy-container .soliloquy-caption {
    position: absolute;
    bottom: 50px !important;
    left: 50px !important;
    width: auto !important;
    z-index: 1120;
    background: gold;
    padding: 5px 15px;
padding-bottom: 15px !important;
font-family: 'Cutive Mono', monospace;
font-size:1.5em;
color:gold;

}



.soliloquy-container .soliloquy-pager {
    width: 100%;
    margin: 0 auto;
    text-align: right !important;
    position: absolute;
    bottom: 10px;
    height: 14px;
    padding-right: 50px;
    padding-bottom: 30px;

}

.soliloquy-page {
	text-align:right !important;
}

.rpwwt-post-title {
	font-size:1.3em;
}

.sidebar {
	font-family: 'Open sans', sans-serif;
	font-weight:400;
	padding:0;
	margin:0;
}

.sidebar li {
	padding-bottom:6px;
}

.sidebar h2, .sidebar h1 {
	width:100%;
	background:yellow;
}

.sidebar a {
	color:black;
    	
}

.grid li {
	float:left;
	width:25%;
	background:#272727;
	position:relative;
	font-size:1.1em;
	font-weight:600;
	padding:5px;
	

}


.grid img {
	width:100%;
	height:100%;
	opacity:.9;
}

.grid li:hover img {
	opacity:1;
}

.grid a:visited span {
	color: #272727 !important;
}

.grid-link:visited {
	color: #272727 !important;
}

.grid li:hover span {
	
}

.grid {
	width:100%;
	color:#272727;
	text-align:center;

}

.grid a, .grid a:visited {
	color:#272727 !important;
}

@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

.grid span {
	position: absolute;
    	width: auto;
    	left: 5px;
   	 background:gold;
    padding: 1px 10px;
    bottom: 5px;
    opacity: .9;
    font-size: 1.2em;
    color: #272727;
    display: block;
    z-index: 5;
    text-align: center;
font-family: 'Cutive Mono', monospace;
font-weight: 200;


}

.widgettitle {
    border-bottom: 0px solid black;
   font-weight: 400;
    padding: 38px 30px !important;
    font-family: 'Open sans', sans-serif;
    background:#ffe241;
    text-align:left;
font-size: 1.75em !important;
    height: 93px;
    line-height: 98px;
    padding: 0 !important;
    margin: 0 !important;
    padding-left: 25px !important;
font-family: 'Cutive Mono', monospace;


}

.widget {
    padding: 0px 0px;
    margin: 0;
}

.widget ul {
	padding:0 5%;
}

h4, .h4 {
	margin:0;
}
.col-title {
    color: white;
    padding: 20px 30px;
    float: left;
    text-align:right;
    position: relative;
    width: 100%;
    z-index: 10;
    border-bottom: 1px solid #272727;
font-family: 'Cutive Mono', monospace !important;

}

.widget_archive li {
	margin-bottom:0 !important;
}

.article-footer {
	padding-bottom:18px !important;
}

@media (max-width:1315px) {
	.grid li {
		width:33.33333%;
	}
}

@media (max-width: 767px) {
	.grid li {
		width:50%;
	}
}

@media (max-width:480px) {
        .soliloquy-container {
		display:none;
	}

.header {
    background-color: #272727;
    position: absolute;
    height: 100px;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 1;
    opacity:1;
    padding-top:0;

}

.header-search {
	display:none;
}

	.col-title {
              padding: 40px 15px 15px;
	}

	.grid li {
		width:100%;
	}
	.grid img {
		width:100% !important;
		height:auto;
		opacity:1;
		float:right;
	}
	.grid span {
		left:0%;
		right:0%;
		bottom:0;
		
		display:block;
		text-align:right;
		width:auto;
		padding:5px 10px;
		background: gold;
font-size:1.5em;

	}


	.grid li a {
		width:100%;
		height:100%;
		display:block;
		float:left;
			
	}

	.sidebar {
		width:100% !important;
background:whitesmoke !important;
float:left; height:100%"
	}
	.photoswipe_gallery, .msnry_item, .photoswipe_gallery figure {
		width:100% !important;
	}

 @media (max-width: 768px) {
	width:100% !important;
}

.widget .recent-posts-widget-with-thumbnails {
	font-size:1.1em !important;
}

}

